# Ambiente virtual
venv/

# Python
__pycache__/
*.pyc

# Banco/cache
storage/*.db
storage/*.backup
storage/*.json

# Relatórios
reports/*.pdf
reports/generated/*.pdf

# Gráficos
reports/graficos/*.png

# Config sensível
.env

# Backups
*.backup*
