{
  "ambiente": "Casa",
  "gateway_ip": "",
  "auto_trust_localhost": true,
  "usar_influxdb": false,
  "usar_sqlite": true,
  "gerar_pdf": true,
  "scan_wifi": true,
  "export_csv": true,
  "telegram_alerts": false,
  "telegram_token": "",
  "telegram_chat_id": "",
  "known_host_keywords": [
    "desktop",
    "notebook",
    "linux",
    "ubuntu",
    "pc"
  ],
  "trusted_vendors": [
    "tp-link",
    "intelbras",
    "ubiquiti",
    "nokia",
    "huawei",
    "zte"
  ]
}
